 .cus  {
     background-color:#3598dc !important;


}
.ii{
    color: white !important;
}

.cus1 {
    background-color:#8E44Ad !important;


}
.cus2  {
    background-color:#e7505a !important;


}
.logo{
    float: right;
    bottom: 7px;
}